/*****************************************************************************************

    ██████╗     ██████╗      █████╗     ██╗    ██╗    ███████╗    ██████╗     ███████╗
    ██╔══██╗    ██╔══██╗    ██╔══██╗    ██║    ██║    ██╔════╝    ██╔══██╗    ██╔════╝
    ██║  ██║    ██████╔╝    ███████║    ██║ █╗ ██║    █████╗      ██████╔╝    ███████╗
    ██║  ██║    ██╔══██╗    ██╔══██║    ██║███╗██║    ██╔══╝      ██╔══██╗    ╚════██║
    ██████╔╝    ██║  ██║    ██║  ██║    ╚███╔███╔╝    ███████╗    ██║  ██║    ███████║
    ╚═════╝     ╚═╝  ╚═╝    ╚═╝  ╚═╝     ╚══╝╚══╝     ╚══════╝    ╚═╝  ╚═╝    ╚══════╝

 *****************************************************************************************/



    .responsiville-drawers {}

        .responsiville-drawers-parent {
            position: relative;
        }

            .responsiville-drawers-element {
                display: none;
            }

            .responsiville-drawers-element-open {}

                .responsiville-drawers-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: none;
                }

                .responsiville-drawers-button::before {
                    display: inline-block;
                    font-family: 'Responsiville icons';
                    content: '\e816';
                    transform: rotateZ(90deg);
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                }

                .responsiville-drawers-button-open {
                }
                
                .responsiville-drawers-button-open::before {
                    transform: rotateZ(-90deg);
                }